body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    background-color: #f0f0f0; /* 背景色 */
}
/* HTMLで指定したクラスまたはIDに適用する場合 */
.rounded-image {
    border-radius: 50%; /* 50%は円形にするための一般的な値です */
}



/* すべてのimg要素に適用する場合 */
img {
    border-radius: 50%;
}

/* ヘッダーのスタイル */
h1 {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
  }

  /* メニューのリンクスタイル */
menu {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  menu li {
    display: inline;
    margin-right: 10px;
  }
  
  menu li a {
    color: white;
    text-decoration: none;
  }
  
h2 {
    font-size: 24px;
    color: #333;
}

.team-title {
  font-size: 24px;
  text-align: center;
  color: #333;
}

p {
    font-size: 16px;
    color: #555;
}