body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    background-color: #f0f0f0; /* 背景色 */
}
/* HTMLで指定したクラスまたはIDに適用する場合 */
.rounded-image {
    border-radius: 50%; /* 50%は円形にするための一般的な値です */
}



/* すべてのimg要素に適用する場合 */
img {
    border-radius: 50%;
}
